<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../statics/stylesheets/page6.css" />
  <title>GONGDAL</title>
</head>

<body>
  <header>
    <div class="wrap">
      <h1>
        <a href="page1.html" target="" title="">
          <span>GONGDAL</span>
        </a>
      </h1>

      <ul class="menu01">
        <li><a href="page1.html" target="" title="">HOME</a></li>
        <li><a href="page4.html" target="" title="">CONTEST</a></li>
        <li><a href="page2.html" target="" title="">SCHEDULE</a></li>
        <li><a href="page5.html" target="" title="">PORTFOLIO</a></li>
      </ul>

      <div class="topbtn">
        <button type="button" id="btnLogin">
          <a href="login.ejs" target="" title=""><span class="user">USER</span></a>
        </button>
        <img src="../statics/icons/user.png" />
      </div>

      <div class="area-dept01"></div>
    </div>
  </header>
  <div class="wrapper">
    <div class="content">
      <div class="search-box">
        <img class="search-icon" src="../statics/icons/search_icon.png" />
        <span>CONTEST</span>
        <img class="more-icon" src="../statics/icons/more_icon.png" />
      </div>
      <div class="contest-detail">
        <div class="d-day">
          <div class="d1">D-7</div>
        </div>
        <div class="title">
          2021 ICT/SW Women's Entrepreneurship Contest
        </div>
        <div class="interest-zone">
          <img class="heart" src="../statics/icons/heart.png" />
          <div class="i1">50</div>
          <img class="see" src="../statics/icons/see.png" />
          <div class="i2">150</div>
        </div>
        <div class="poster-img">
          <img src="../statics\icons\여창공poster.jpg" />
        </div>
        <div class="major-info">
          <div class="institution">
            Ministry of Science and ICT
          </div>
          <div class="major-info-detail">
            ■ &nbsp;&nbsp;Support period <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2021.5.17 (Monday) to 2021.06.04
            (Fri) 23:59 <br><br> ■ &nbsp;&nbsp;Next Short-Form Season 1 Schedule
            Online site entry<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ~ 21.06.04<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Internal deliberation by the host organisation: 21.04 to 21.06.25
            (3 weeks)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Streaming Release & Viewers' Pick!: 21.06.28 to 21.09.17 (12
            Weeks)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next: in Review: 21.09.20 to 21.10.01 (2 weeks)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seasonal Awards Content Announcement: First Week of October.
          </div>
        </div>

        <div class="minor-info">
          <div class="details">
            <span class="the">THE</span>
            <span class="details">DETAILS</span>
          </div>
          <div class="minor-info-detail">
            ■ Support area<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Short Film -> 5 to 30 minutes long with ending credits<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Web entertainment<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Web drama<br><br><br>

            ■ Individual or team unit for young people aged 19 or older to 39 years old <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Season 1 prize money total of 10 million won, total of 6
            teams<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Next Creator Team 1 x KRW 3 million = KRW 3 million<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Next Challenge Team 2 × KRW 2 million = KRW 4 million<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Next Rookie Team 3 x KRW 1 million = KRW 3 million<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;※ The name of the award category may change.<br><br><br>

            ■ Support precautions<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. All content can only be submitted online. You can't submit it
            by e-mail, visit, etc.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Multiple contents can be submitted by the same person. However,
            you have to support the contents individually.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Online streaming disclosure is mandatory for content that has
            passed internal review.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. In the case of contents using the original work, the contract
            related to the use of copyright must be finalized. <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. You can participate in other film festivals and contests with
            the content you support. <br>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer1">
          GongDal
        </div>
        <div class="footer2">
          사업자 등록번호 : 123- 45- 67891 (주) 공달 대표이사 : 디자인은 누가하조 서울특별시 서대문구 아현동 이화여자대학교
        </div>
        <div class="footer3">
          Copyright GONGDAL. All Rights Reserved.
        </div>
      </div>

    </div>

  </div>
</body>